.Navbar{
    display: flex;
    top: 0;
    background-color: white;
    height: 75px;
    position: sticky;
    align-items: center;
    justify-content: space-evenly;
    /* z-index: 2; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.text{
    height: 2000px;
}

.search{
    margin: auto;
    height: 1.8rem;
    width: 34rem;
    position: absolute;
    padding-left: 2.4rem;
    right: 0;
    font-size: 17px;
    background-color: #e4e7ed;
}

.searchwrapper{
    display: flex;
    position: relative;
    height: 1.8rem;
    width: 36.4rem;
}

.name{
    color: black;
}
.signin{
    color: black;
}

.searchicon{
    margin:0;
    padding: 0;
    z-index: 2;
    padding-top: 0.3rem;
}