.post, .message_true, .message_false {
  display: flex;
  align-items: flex-start;
  padding:1%;
}
.post{
  border-bottom: 2px solid var(--warbler-background);
  padding-bottom: 0% !important;
}

.message_true {
  padding-left : 45% !important;
}
.message_true > .message_body {
  background-color: #FFFFCC;
  border-radius: 10px;
  max-width:100%;
}

.message_false {
  padding-right : 45% !important;
}

.message_false > .message_body {
  background-color: #CCDDFF;
  border-radius: 10px;
  max-width:100%;
}

.post:hover {
  background-color: var(--warbler-background);
  transition: background-color 0.2s ease-in-out;
}

.post_body, .message_body {
  flex: 1;
  align-self: center;
  align-items: center;
  padding: 10px;
}




.postImage {
  max-width: 60rem;
  max-height: 60rem;
  object-fit: cover;
  border-radius: 1%;
  padding: auto;
  margin: auto;
  padding-left: 6.5%;
}
.messageImage {
  max-width: 100%;
  object-fit: cover;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 1%;
  margin-right: 15px;
  padding-left: 0%;
}

.post_avatar {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}

.post_footer {
  padding-left: 20%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.post_footer>button {
  background: none;
  color: inherit;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: inherit;
}

.action_Icon {
  color: inherit;
}

.action_Icon-active {
  color: var(--warbler-color);
}

.GotoParent:hover,
.Heart_false:hover,
.Share:hover,
.Replies:hover,
.Bookmark_false:hover,
.Retweet_false:hover {
  color: var(--warbler-color);
  transition: color 0.2s ease-in-out;
  border-radius: 30px;
  background-color: #CCCCFF;
}

.Heart_true,
.Bookmark_true,
.Retweet_true {
  color: red !important;
  transition: color 0.1s ease-in-out;
}

.Heart_true:hover,
.Bookmark_true:hover,
.Retweet_true:hover {
  color: red !important;
  transition: color 0.1s ease-in-out;
  border-radius: 30px;
  background-color: #FFCCCC;
}


.post_headerText>h3 {
  font-size: 18px;
  margin-bottom: 0.5%;
}

.retweet_headerText>h3 {
  font-size: 18px;
  margin: 1%;
}

.post_badge {
  font-size: 14px !important;
  color: var(--warbler-color);
}

.post_time,
.post_username,
.post_headerSpecial {
  font-weight: 600;
  font-size: 15px;
  color: gray;
}

.post_username,
.post_displayname {
  cursor: pointer;
}

.post_replyingTo {
  font-weight: 600;
  font-size: 15px;
  color: grey;
}

.post_replyingTo >button{
background: none;
color: black;
border: none;
font-size: 20px;
cursor: pointer;
outline: inherit;
}

.post_avatar {
  padding: 0px;
  margin-right: 1%;
}

.post_headerDescription {
  margin-bottom: 0%;
  font-size: 18px;
  padding-left: 6.5%;
  word-wrap: break-word !important;
}

.message_text {
  margin-bottom: 0%;
  font-size: 18px;
  word-wrap: break-word !important;
  width: 100%;
}

.retweeted{
  margin-bottom: 0%;
  font-size: 18px;
  padding-left: 5.5%;
  padding-bottom: 0.5%;
  margin-left: 1% !important;
  border-bottom: 2px solid var(--warbler-background);
}