.SignIn,
.SignUp {
    max-width: 50%;
    max-height: auto;
    flex: 0.6;
    margin-top: 15%;
}

.LinkText{
    display:flex;
    padding-top:0.5%;
    padding-bottom:1%;
}

.Page {
    display: flex;
}

.passwordHelpBlock {
    justify-self: center;
}

.Image {
    flex: 0.4;
}

.ErrorMessage
{
    color: red;
}

.Warbler_Icon {
    color: var(--warbler-color);
    height: auto;
    width: 40%;
    margin-top: 45%;
    margin-left: 35%;
}

.Warbler_Text {
    color: var(--warbler-color);
    position: fixed;
    font-size: 96px !important;
    width: auto;
    margin-top: 4%;
    margin-left: 36%;

}